description = "navbar"
==
<nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <img src="{{ 'assets/images/logo.jpeg' |theme  }}" class="is-48x48" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item {% if this.page.id == 'homepage' %}is-active{% endif %} " href="{{ 'homepage'|page }}">
                    Home
                  </a>
                  <a class="navbar-item {% if this.page.id == 'cardapio' %}is-active{% endif %} " href="{{ 'cardapio'|page }}">
                    Cardapio
                  </a>

                  <a class="navbar-item {% if this.page.id == 'sobrenos' %}is-active{% endif %} ">
                    Sobre Nós
                  </a>

                  <a class="navbar-item {% if this.page.id == 'contato' %}is-active{% endif %} ">
                        Contato
                      </a>

                </div>
              </div>
            </div>
          </nav>