description = "promoted products"
==
<section class="hero is-smal  is-dark ">
        <div class="hero-head">
          <h1 class="title">Promoções</h1>
        </div>
          <div class="hero-body">
            <div class="columns ">
                <div class="card column" style="margin: 3px;">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="http://placehold.it/200x220" alt="Placeholder image">
                      </figure>
                    </div>
                 
                      <div class="content">
                        <p> Produto  </p>
                        <span class="tag is-danger is-medium">R$ 19,90</span>
  
                      </div>
                    </div>


                    <div class="card column " style="margin: 3px;">
                        <div class="card-image">
                          <figure class="image is-4by3">
                            <img src="http://placehold.it/200x220" alt="Placeholder image">
                          </figure>
                        </div>
                     
                        <div class="content">
                          <p> Produto  </p>
                           <span class="tag is-danger is-medium">R$ 19,90</span>
     
                         </div>
                        </div>


                        <div class="card column" style="margin: 3px;">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="http://placehold.it/200x220" alt="Placeholder image">
                              </figure>
                            </div>
                         
                            <div class="content">
                             <p> Produto  </p>
                               <span class="tag is-danger is-medium">R$ 19,90</span>
         
                             </div>
                            </div>


                            <div class="card column " style="margin: 3px;">
                                <div class="card-image">
                                  <figure class="image is-4by3">
                                    <img src="http://placehold.it/200x220" alt="Placeholder image">
                                  </figure>
                                </div>
                             
                                <div class="content">
                                  <p> Produto  </p>
                                   <span class="tag is-danger is-medium">R$ 19,90</span>
             
                                 </div>
                                </div>
                  </div>
            </div>
          </div>
        </section>